@import "page.less";

#content{
	#flashcardBlock{
		float: left;
		width: 65%;

		#flashcard{
			height: 400px;
			overflow: auto;
			border: 1px solid black;
			text-align: center;

			h3{
				padding-top: 100px;
			}

			.flashcard_fact{
				line-height: 100px;
			}
		}

		#buttonPanel{
			text-align: center;
			margin-top: 15px;

			a{
				width: 100px;
				position: relative;
				display: inline-block;
				background-color: @blue;
				.button;

				&:first-child{
					float: left;
				}

				&:last-child{
					float: right;
				}
			}
		}
	}

	#flashcardBlock_right{
		float: left;
		width: 30%;
		margin-left: 3%;
		margin-top: 49px;

		a{
			background-color: @green;
			width: 100%;
			display: block;
			.button
		}
	}
}