@import "page.less";


#loginModal, #registerModal {
	width: 300px;
	text-align: center;
	position: fixed;
	padding: 25px;
	top: 25%;
	left: ~"calc(50% - 150px)";
	background-color: #3f9db6;
	display: none;
	z-index: 3;
	color: white;
	border-radius: 5px;

	#close-btn {
		float: right;
		margin: -8px 0 0 0;
		cursor: pointer;

		&:hover {
			color: @grey-lgt;
		}
	}

	input {
		width: 300px;
		box-sizing: border-box;
		padding: 8px;
		margin: 10px 0;
		border: none;
		font-size: 14px;
		outline: none;
	}

	.incorrect {
		border: 1px solid @orange;
	}

	.btn-container {
		margin-top: 20px;
		height: 20px;
		font-size: .8em;

		#sign-up-btn {
			cursor: pointer;
			float: left;
			padding: 9px 0;
			font-size: 14px;

			&:hover {
				color: @grey-lgt;
			}
		}

		#submit-btn {
			background-color: white;
			float: right;
			.button;
			padding: 9px;
			color: @blue;
			font-size: 14px;

			&:hover {
				color: white;
			}
		}
	}

}