@import "page.less";

#content{
	#matching{
		a{
			display: block;
			float: right;
			width: 100px;
			text-align: center;
			text-decoration: none;
			background-color: @green;
			.button;
		}

		h2{
			display: inline;
		}

		.column{
			border: none;

			&:nth-child(3){
				border: 1px solid black;
				height: 507px;
				margin-top: 5px;
				background-color: @grey-lgt;
			}

			.half_column{
				height: 250px;
				margin-bottom: 15px;
				background-color: @blue;
				color: white;

				strong{
					display: block;
					padding: 10px;
				}

				.fact{
					margin-left: 5px;
				}
			}
		}

		.fact{
			margin-top:5px;
			padding: 5px;
			width: 95%;
			background-color: white;
			.unselectable-text;
		}

		.incorrect{
			background-color: #DDD;
		}
 	}
}