@import "page.less";

#content{
	#matching{
		div{
			margin-bottom: 10px;
			#helper-text {
				font-size: 14px;
				margin:0;
				font-style: italic;
				text-align: center;
				padding-left: 110px; // because the new game button pushes the text over to the left
			}

			#timer {
				float: right;
				margin: 7px 30px 0 0;

			}
		}

		a{
			display: block;
			float: right;
			width: 100px;
			text-align: center;
			text-decoration: none;
			background-color: @green;
			.button;
		}

		h2{
			display: inline;
		}

		.column{
			border: none;
			padding: 0;
			margin: 0 0 0 10px;
			width: 313px;

			&:nth-child(2){
				margin: 0;
			}

			&:nth-child(3){
				height: 538px;
				background-color: @grey-lgt;
				overflow-y: scroll;
			}

			.half_column{
				height: 250px;
				margin-bottom: 15px;
				background-color: @blue;
				color: white;
				overflow-y: auto;
				border: 6px solid @blue;

				h3{
					color: white;
					display: block;
					padding: 10px;
					margin: 0px;
				}

				.fact{
					color: black;
					margin-left: 5px auto;
				}
			}
		}

		.fact{
			cursor: move;
			margin:5px auto;
			padding: 5px;
			width: 93%;
			background-color: white;
			.unselectable-text;

			position: relative;

			p {
				margin: 0;
			}
		}

		.incorrect{ 
			border: 3px solid @orange;

			p {
				margin-right: 40px;
			}

			.marker {
				position: absolute;
				background: url("../images/Wrong.png");
				background-repeat: no-repeat;
				background-size: 20px 20px;
				float: right;
				width: 20px;
				height: 20px;
				top: ~"calc(50% - 10px)";
				right: 10px;
				margin: 0;

			}

		}

		.correct{
			border: 3px solid @green;

			p {
				margin-right: 40px;
			}

			.marker {
				position: absolute;
				background: url("../images/Right.png");
				background-repeat: no-repeat;
				background-size: 30px 30px;
				float: right;
				width: 30px;
				height: 30px;
				top: ~"calc(50% - 15px)";
				right: 10px;
				margin: 0;

			}
		}
 	}
}