#navBar{
	width:100%;
	height:50px;
	border-bottom: 1px solid white;
	background: -webkit-linear-gradient(left, @blue, @green);
	box-shadow:#aaa 0px 2px 5px;
	position:fixed;
	top: 0px;

	#logo{
		font-weight:bold;
		margin-right:40px;
	}

	.navLink{
		float:left;
		line-height:50px;
		color:white;
		cursor: pointer;

		a{
			display: block;
			text-decoration: none;
			color: white;
		}

		span { // surround the text of the selected menu link with a span to get the underline styling
			border-bottom: 1px solid white;
			padding-bottom: 2px;
		}
	}

	.navLink:not(:first-child){
		margin: 0 20px;
	}

	ul{
		margin: 0px;
		padding:0px;

		li{
			list-style-type: none;

			ul{
				display: none;
				position: absolute;

				li{
					margin:0px;
					padding:0px 20px;
					position: relative;
					z-index: 5;

					a{
						display:block;
						width:100%;
						height:100%;
					}

					&:hover{
						background-color: @orange;
					}
				}
			}

			&:hover{
				ul{
					display: block;
					background-color: @grey-drk;
					z-index: 5;

					&:before{
						content: "";
						width: 0; 
						height: 0; 
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;	
						border-bottom: 10px solid @grey-drk;
						position: absolute;
						top: -10px;
					}
				}
			}
		}
	}

	#loginContainer{
		float: right;
		line-height: 50px;
	}

	#login{
		display: block;
		cursor: pointer;
		text-decoration: none;
		color: white;
	}
}