@import "page.less";
@import "filters.less";


#settings-block {
	visibility: hidden;
	position: absolute;
	top: 75px;
	left: ~"calc((100% - 635px) / 2)";
	padding-top: 10px;
	width:635px;
	background-color: @blue; 
	z-index: 4;
	color: @grey-drk;
	border-radius: 5px;


	#upper-div {
		margin-bottom: 5px;
		padding: 0 20px;

		#title-text {
			font-size: 1.5em;
			color: White;
			display: inline-block;
		}

		#exit-button {
			display: inline-block;
			float: right;
			color: White;
			cursor: pointer;
			font-size: 30px;
			margin-top: -5px;
		}
	}


	#settings-container{
		background-color: White;
		padding: 20px;

		input[type="checkbox"] {
			margin: -3px 15px 0 0;
		}

		h2 {
			margin: 0 !important; 
		}

		#filterBlock {
			width: 46%;
			display: inline-block;


		}

		#optionsBlock {
			width: 46%;
			display: inline-block;
			float: right;
			vertical-align: top;
			height: 478px;
			position: relative;

			#options {
				margin-top: 18px;
				font-size: 14px;
			}

			#button-container {
				width: 100%;
				height: 25px;
				position: absolute;
				bottom: 0;
			}

			.modal-btn {
				background-color: @blue;
				float: right;
				width: 75px;
				margin-left: 10px;

				.button;
			}

		}
	}

}

#no-data-container {
	visibility: hidden;
	position: absolute;
	top: 25%;
	left: ~"calc((100% - 300px) / 2)";
	padding: 0px 10px 10px 10px;
	width:300px;
	background-color: @blue; 
	z-index: 999;
	color: @grey-drk;
	border-radius: 5px;

	.header {
		font-size: 1.5em;
		color: White;
	}
	.info {
		background-color: white;
		padding:20px;
		text-align: left;

		a {
			text-decoration: underline;
			color: @orange;
			cursor: pointer;
		}
	}
}