#spashImage{
	width: 600px;
	height: 400px;
	float: left;
	background-color: gray;
	margin-right: 10px;
}

#spashText{
	float: left;
}

#loginWindow{
	width: 300px;
	text-align: center;
	border:1px solid black;
	position: fixed;
	padding: 25px;
	top: 25%;
	left: calc(50% - 150px);
	background-color: #3f9db6;
	display: none;
	z-index: 3;
	color: white;
}

#loginWindow label{
	display: inline-block;
	width: 100px;
	margin: 10px 0px;
	text-align: left;
}

#loginWindow input[type="text"], #loginWindow input[type="password"]{
	width: 192px;
}

#loginWindow input[type="submit"]{
	float: right;
}

#loginWindow a{
	float: left;
}

#shadow{
	width: 100%;
	height: 100%;
	position: fixed;
	visibility: hidden;
	background-color: rgba(0,0,0,0.7);
	top:0;
	z-index: 2;
}

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px); 
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.column{
	float:left;
	width: 300px;
	min-height: 500px;
	margin: 0 4px;
	padding: 5px;
}

.column a{
	display: block;
	text-decoration: none;
	padding:10px 0px;
	margin-bottom:1px;
	background: #e6e6e6;
	text-indent:20px;
	color: #4c4c4c;
}

#articleView{
	width: 65%;
	float: left;
}

#noteView{
	width: 32%;
	float: right;
}

.articleBlock{
	min-height: 500px;
	padding: 10px;
	border: 1px solid black;
}

#tableBlock{
	float: left;
	margin-right: 20px;
	margin-top: 18px;
	width:650px;
}

td{
	height: 100px;
	width: 110px;
}

#filterBlock{
	width: 290px;
	float: left;
}

#filterBlock div{
	border: 1px solid black;
	padding: 10px;
}

#flashcardBlock_right div{
	border: 1px solid black;
	margin-top: 10px;
	padding: 15px;
}

#flashcardBlock_right div a{
	margin-top: 10px;
}

#feedbackBlock{
	position: absolute;
	bottom: 0;
	right: 15px;
}

#feedbackBlock div{
	width: 100px;
	margin: 15px 0;
	border: 1px solid black;
}

#settings{
	background-color: white;
	z-index: 2;
	position: fixed;
	top: 50px;
	border: 1px solid black;
	padding: 15px;
}

#optionBlock{
	float: left;
	margin-left: 15px;
}

/*#matching a{
	display: block;
	border: 1px solid black;
	float: right;
	width: 100px;
	text-align: center;
	text-decoration: none;
}*/

/*#matching h2{
	display: inline;
}*/

/*#matching .column{
	border: none;
}

#matching .column:nth-child(3){
	border: 1px solid black;
	height: 507px;
	margin-top: 5px;
}*/
/*
.column .half_column{
	height: 250px;
	border: 1px solid black;
	margin-bottom: 15px;
}

.half_column strong{
	display: block;
	margin: 15px 0 0 15px;
}

.half_column .fact{
	margin-left: 5px;
}*/

/*.fact{
	margin-top:5px;
	width: 95%;
	border: 1px solid black;
}*/

/*.incorrect{
	background-color: #DDD;
}*/

#multipleChoiceBlock li{
	margin-top: 15px;
}

#multipleChoiceBlock .incorrect{
	color: red;
	background-color: white;
}

#multipleChoiceBlock .correct{
	color: green;
}

#multipleChoiceBlock #buttons{
	float: right;
}

#buttons a{
	display: block;
	float: left;
	color: black;
	border: 1px solid black;
	text-align: center;
	width: 100px;
	text-decoration: none;
}

#feedback{
	text-align: center;
	border: 1px solid black;
	margin: 15px 0;
	clear: both;
}