<!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
	<link type="text/css" rel="stylesheet/less" href="../css/page.less"/>
	<script src="../scripts/less.js-2.3.1/dist/less.min.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="navBar">
		<div class="wrapper">
			<ul>
				<li id="logo" class="navLink"><a href="home.html">NDFS 100</a></li>
				<li class="navLink"><a href="articles.html">Articles &amp; Worksheets</a class="navLink"></li>
				<li class="navLink"><a href="nutrientTable.html">Nutrient Table</a></li>
				<li class="navLink">Study Tools
					<ul>
						<li><a href="flashcards.html">Flashcards</a></li>
						<li><a href="matching_feedback.html">Matching Game</a></li>
						<li><a href="multipleChoice.html">Multiple Choice</a></li>
					</ul>
				</li>
			</ul>
			<div id="loginContainer">
				<a id="login" href="index.html">Logout</a>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div id="content">
			<div id="articleView">
				<strong>Article X</strong>
				<div class="articleBlock">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id orci sit amet magna consectetur scelerisque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi gravida magna at libero congue, in pretium ligula consectetur. Integer blandit quam at neque convallis volutpat. Quisque pharetra, dolor sed malesuada fermentum, nisi ligula dictum lorem, in pellentesque arcu neque nec enim. Maecenas tempor neque lectus, sit amet lobortis dui laoreet laoreet. Curabitur quis lorem at turpis cursus imperdiet eu a velit.</p>
					<p>Mauris non sem nibh. Aliquam ut tempor tellus. Vivamus luctus rutrum augue eget hendrerit. Ut ut lectus vel nibh pulvinar aliquam. Etiam elementum elit at imperdiet aliquam. Maecenas semper laoreet consequat. In euismod ligula quis pharetra dignissim. Ut vitae elementum turpis. In ipsum arcu, sodales ut</p>
				</div>
			</div>
			<div id="noteView">
				<strong>Notes</strong>
				<div class="articleBlock">

				</div>
			</div>
		</div>
	</div>
</body>
</html>
