!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
	<link type="text/css" rel="stylesheet/less" href="../css/articles.less"/>
	<script src="../scripts/less.js-2.3.1/dist/less.min.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="navBar">
		<div class="wrapper">
			<ul>
				<li id="logo" class="navLink"><a href="home.html">NDFS 100</a></li>
				<li class="navLink"><a href="articles.html" class="selected"><span>Articles &amp; Worksheets<span></a class="navLink"></li>
				<li class="navLink"><a href="nutrientTable.html">Nutrient Table</a></li>
				<li class="navLink">Study Tools
					<ul>
						<li><a href="study_guide.html">Study Guide</a></li>
						<li><a href="flashcards.html">Flashcards</a></li>
						<li><a href="matching.html">Matching Game</a></li>
						<li><a href="multipleChoice.html">Multiple Choice</a></li>
					</ul>
				</li>
			</ul>
			<div id="loginContainer">
				<a id="login" href="index.html">Logout</a>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div id="content">
			<div class="column">
				<h2>Articles</h2>
				<a href="articleView.html?FoodInOurLives.pdf">The Meaning of Food in Our Lives: A Cross Cultural Perspective on Eating and Well-Being</a>
				<a href="articleView.html?UnderTheInfluence.pdf">Under the Influence</a>
				<a href="articleView.html?QuickStart.pdf">Quick Start Gluten-Free Diet Guide</a>
				<a href="articleView.html?Perfection.pdf">Seeking Perfection Without Being a Perfectionist</a>
				<a href="articleView.html?Vitamins.pdf">Vitamins and Supplements: 10 dangers that may surprise you</a>
				<a href="articleView.html?Medicine.pdf">National Center for Complementary and Alternative Medicine</a>
				<a href="articleView.html?Feeding.pdf">Ellyn Satter's Division or Responsibility in Feeding</a>
			</div>
			<div class="column">
				<h2>Worksheets</h2>
				<a href="articleView.html?BMI.pdf">Body Mass Index</a>
				<a href="articleView.html?Diets.pdf">Evaluate These Diets</a>
				<a href="articleView.html?Labels.pdf">What can you learn from these labels?</a>
			</div>
			<div class="column">
				<h2>Diagrams and References</h2>
				<a href="articleView.html?Lipids.pdf">Lipids</a>
				<a href="articleView.html?Protein.pdf">Protein digestion and absorption</a>
				<a href="articleView.html?Fat.pdf">Fat Transport</a>
				<a href="articleView.html?DailyValues.pdf">Dietary Reference Intakes and Daily Values for Food Labels</a>
			</div>
		</div>
	</div>
</body>
</html>