<!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
	<link type="text/css" rel="stylesheet/less" href="../css/page.less"/>
	<script src="../scripts/less.js-2.3.1/dist/less.min.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="navBar">
		<div class="wrapper">
			<ul>
				<li id="logo" class="navLink"><a href="home.html">NDFS 100</a></li>
				<li class="navLink"><a href="articles.html">Articles &amp; Worksheets</a class="navLink"></li>
				<li class="navLink"><a href="nutrientTable.html">Nutrient Table</a></li>
				<li class="navLink"><span>Study Tools</span>
					<ul>
						<li><a href="study_guide.html">Study Guide</a></li>
						<li><a href="flashcards.html">Flashcards</a></li>
						<li><a href="matching_feedback.html">Matching Game</a></li>
						<li><a href="multipleChoice.html">Multiple Choice</a></li>
					</ul>
				</li>
			</ul>
			<div id="loginContainer">
				<a id="login" href="index.html">Logout</a>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div id="content">
			<div id="flashcardBlock">
				<h2>Flash Cards</h2>
				<div id="flashcard">
					<h3 class="flashcard_fact">Sweet Potatoes</h3>
					<h3 class="flashcard_fact">Broccoli</h3>
					<h3 class="flashcard_fact">Citrus Fruits</h3>
					<div id="feedbackBlock">
						<div>Correct</div>
						<div>Incorrect</div>
					</div>
				</div>
				<div id="buttonPanel">
					<a><<</a>
					<a href="flashcards.html"</a>Flip Card</a>
					<a>>></a>
				</div>
			</div>
			<div id="flashcardBlock_right">
				<button>Settings</button>
				<div>
					Seen: 14/20<br>
					<br>
					Correct: 10/20<br>
					<br>
					<button>Restart</button>
				</div>
			</div>
		</div>
		<div id="settings">
			<h3>Settings</h3>
			<div id="filterBlock"><strong>Filters</strong>
				<div>
					<strong>Nutrients</strong><br>
					<input type="checkbox" checked/>Vitamin C<br>
					<input type="checkbox" checked/>Thiamin<br>
					<input type="checkbox" checked/>Calcium<br>
					<input type="checkbox" checked/>Zinc<br><br>
					<strong>Category</strong><br>
					<input type="checkbox" checked/>Function<br>
					<input type="checkbox" checked/>Deficiency Symptoms<br>
					<input type="checkbox" checked/>Toxicity Symptoms<br>
					<input type="checkbox" checked/>Food Sources<br>
				</div>
			</div>
			<div id="optionBlock"><strong>Options</strong><br>
				<input type="checkbox" />See front of flashcard first<br><br>
				<input type="checkbox" />Randomize flashcards<br><br>
				<input type="checkbox" />See only cards I miss most<br><br>
				<input type="checkbox" />Collect stats<br>
				<div id="buttonPanel">
					<a href="flashcards.html">Cancel</a>
					<a href="flashcards.html">Save</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
