<!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
	<link type="text/css" rel="stylesheet/less" href="../css/flashcards.less"/>
	<script src="../scripts/less.js-2.3.1/dist/less.min.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="navBar">
		<div class="wrapper">
			<ul>
				<li id="logo" class="navLink"><a href="home.html">NDFS 100</a></li>
				<li class="navLink"><a href="articles.html">Articles &amp; Worksheets</a class="navLink"></li>
				<li class="navLink"><a href="nutrientTable.html">Nutrient Table</a></li>
				<li class="navLink">Study Tools
					<ul>
						<li><a href="flashcards.html">Flashcards</a></li>
						<li><a href="matching_feedback.html">Matching Game</a></li>
						<li><a href="multipleChoice.html">Multiple Choice</a></li>
					</ul>
				</li>
			</ul>
			<div id="loginContainer">
				<a id="login" href="index.html">Logout</a>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div id="content">
			<div id="flashcardBlock">
				<h2>Flash Cards</h2>
				<div id="flashcard">
					<h3>Foods Vitamin C is Found in</h3>
				</div>
				<div id="buttonPanel">
					<a>&laquo;</a>
					<a href="flashcards_flip.html"</a>Flip Card</a>
					<a>&raquo;</a>
				</div>
			</div>
			<div id="flashcardBlock_right">
				<a href="flashcards_settings.html">Settings</a>
				<div>
					Seen: 14/20<br>
					<br>
					Correct: 10/20<br>
					<br>
					<a>Restart</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
