
<!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<div id="wrapper">
		<div id="navBar">
			<ul>
				<li class="navLink"><a href="home.html">NDFS 100</a></li>
				<li class="navLink"><a href="articles.html">Articles & Worksheets</a class="navLink"></li>
				<li class="navLink"><a href="nutrientTable.html">Nutrient Table</a></li>
				<li class="navLink">Study Tools
					<ul>
						<li><a href="flashcards.html">Flashcards</a></li>
						<li><a href="matching_feedback.html">Matching Game</a></li>
						<li><a href="multipleChoice.html">Multiple Choice</a></li>
					</ul>
				</li>
			</ul>
			<div id="loginContainer">
				<a id="login" href="index.html">Logout</a>
			</div>
		</div>
		<div id="content">
			<div id="flashcardBlock">
				<h2>Flash Cards</h2>
				<div id="flashcard">
					<h3>Foods Vitamin C is Found in</h3>
				</div>
				<div id="buttonPanel">
					<a><<</a>
					<a href="flashcards_flip.html"</a>Flip Card</a>
					<a>>></a>
				</div>
			</div>
			<div id="flashcardBlock_right">
				<a href="flashcards_settings.html">Settings</a>
				<div>
					Seen: 14/20<br>
					<br>
					Correct: 10/20<br>
					<br>
					<a>Restart</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
