<!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
	<link type="text/css" rel="stylesheet/less" href="../css/flashcards.less"/>
	<link type="text/less" rel="stylesheet" href="../css/settings_modal.less">
	<link type='text/css' rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700,500'>

	<script src="../scripts/less.js-2.3.1/dist/less.min.js" type="text/javascript"></script>
	<script src="../scripts/nutrientDataManager.js" type="text/javascript"></script>
	<script src="../scripts/flashcards.js" type="text/javascript"></script>
	<script src="../scripts/generic_settings_modal.js" type="text/javascript"></script>

</head>
<body style="overflow: hidden">
	<div id="navBar">
		<div class="wrapper">
			<ul>
				<li id="logo" class="navLink"><a href="home.html">NDFS 100</a></li>
				<li class="navLink"><a href="articles.html">Articles &amp; Worksheets</a class="navLink"></li>
				<li class="navLink"><a href="nutrientTable.html">Nutrient Table</a></li>
				<li class="navLink"><span>Study Tools</span>
					<ul>
						<li><a href="study_guide.html">Study Guide</a></li>
						<li><a href="flashcards.html">Flashcards</a></li>
						<li><a href="matching.html">Matching Game</a></li>
						<li><a href="multipleChoice.html">Multiple Choice</a></li>
					</ul>
				</li>
			</ul>
			<div id="loginContainer">
				<a id="login" href="index.html">Logout</a>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div id="content">
			<div id="flashcardBlock">
				<h2>Flash Cards</h2>
				<div id="flashcard">
					<h3>Foods Vitamin C is Found in</h3>
					<div id="gradingPanel">
						<p>Were you correct?</p>
						<a id="yesButton">Yes</a><a id="noButton">No</a>
					</div>
				</div>
				<div id="buttonPanel">
					<a id="previousButton">&laquo;</a>
					<a id="flipButton">Flip<img src="../images/Arrow.png"></img></a>
					<a id="nextButton">&raquo;</a>
				</div>
			</div>
			<div id="flashcardBlock_right">
				<a id="popUp" onclick="showModal()"><span>Settings</span><img src="../images/SettingsGear.png"></img></a>
				<div id="stats">
					Seen: <span id="numberSeen"></span>/<span id="numberTotal"></span><br>
					<br>
					Correct: <span id="numberCorrect"></span>/<span id="numberTotalGraded"></span><br>
					<br>
					<a id="restartButton">Restart</a>
				</div>
			</div>
		</div>
	</div>
	<div id = "settings-block">
		<div id="upper-div">
			<div id = "title-text">Flashcard Options</div>
			<div id="exit-button" onclick="hideModal()">X</div>
		</div>
			<div id = "settings-container">
				<div id = "filters-container">
					Filters<br/>
					<div class="tinyText">(only see the selected topics in your flashcards)</div>
					<div id = "nutrients">
						<u>Nutrients</u><br/>
						<input type="checkbox" name="nutrients" value="Vitamin_A" class="box" checked>Vitamin A<br>
						<input type="checkbox" name="nutrients" value="Vitamin_D" class="box" checked>Vitamin D<br>
						<input type="checkbox" name="nutrients" value="Vitamin_K" class="box" checked>Vitamin K<br>
						<input type="checkbox" name="nutrients" value="Vitamin_C" class="box" checked>Vitamin C<br>
						<input type="checkbox" name="nutrients" value="Thiamin" class="box" checked>Thiamin<br>
						<input type="checkbox" name="nutrients" value="Riboflavin" class="box" checked>Riboflavin<br>
						<input type="checkbox" name="nutrients" value="Niacin" class="box" checked>Niacin<br>
						<input type="checkbox" name="nutrients" value="Folate" class="box" checked>Folate<br>
						<input type="checkbox" name="nutrients" value="Vitamin_B12" class="box" checked>Vitamin B12<br>
						<input type="checkbox" name="nutrients" value="Calcium" class="box" checked>Calcium<br>
						<input type="checkbox" name="nutrients" value="Magnesium" class="box" checked>Magnesium<br>
						<input type="checkbox" name="nutrients" value="Sodium" class="box" checked>Sodium<br>
						<input type="checkbox" name="nutrients" value="Potassium" class="box" checked>Potassium<br>
						<input type="checkbox" name="nutrients" value="Iron" class="box" checked>Iron<br>
						<input type="checkbox" name="nutrients" value="Zinc" class="box" checked>Zinc<br>
						<input type="checkbox" name="nutrients" value="Fluoride" class="box" checked>Fluoride<br>
						<input type="checkbox" name="nutrients" value="Selenium" class="box" checked>Selenium<br><br>
						<u>Categories</u><br/>
						<input type="checkbox" name="category" value="Function" class="box" checked>Function<br>
						<input type="checkbox" name="category" value="Deficiency_Symptoms" class="box" checked>Deficiency Symptoms/Disease<br>
						<input type="checkbox" name="category" value="Toxicity_Symptoms" class="box" checked>Toxicity Symptoms<br>
						<input type="checkbox" name="category" value="Food_Sources" class="box" checked>Food Sources<br>
					</div>
				</div>
				<div id = "options-container">
					Options<br/><br/>
					<div id="options">
						<input type="checkbox" name="option" value="seeFront" class="box" checked>See front of flashcards first<br>
						<input type="checkbox" name="option" value="randomizeOrder" class="box" checked>Randomize order of flashcards<br>
						<input type="checkbox" name="option" value="displayStatistics" class="box" checked>Display statistics<br>
					</div>
				</div>
				<div id = "button-container">
					<div id="saveOptionsButton" class = "button">Save</div>
					<div class = "button" onclick="hideModal()">Cancel</div>
						<div id="tinyButton-container">
							<div class="tinyButton" onclick="checkAll('nutrients', true)">Select All</div>
							<div class="tinyButton" onclick="checkAll('nutrients', false)">Clear All</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="shadow" onclick="hideModal()"></div>
</body>
</html>
