
<!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<div id="navBar">
		<div class="wrapper">
			<ul>
				<li id="logo" class="navLink"><a href="home.html">NDFS 100</a></li>
				<li class="navLink"><a href="articles.html">Articles &amp; Worksheets</a class="navLink"></li>
				<li class="navLink"><a href="nutrientTable.html">Nutrient Table</a></li>
				<li class="navLink">Study Tools
					<ul>
						<li><a href="flashcards.html">Flashcards</a></li>
						<li><a href="matching_feedback.html">Matching Game</a></li>
						<li><a href="multipleChoice.html">Multiple Choice</a></li>
					</ul>
				</li>
			</ul>
			<div id="loginContainer">
				<a id="login" href="index.html">Logout</a>
			</div>
		</div>
	</div>
	<div class="wrapper">		
		<div id="content">
			<div id="spashImage"></div>
			<div id="splashText">
				<p>Welcome to NDFS 100. We're excited to have you in the class! This website will be a great resource to you as you go through the semester.  You will find readings, worksheets, diagrams, and tables that will be very useful to this class. To enhance your learning and studying experience, this website also provides study tools like flashcards and games to help you learn the nutrient table.  So login and get started! 
				</p>
			</div>
		</div>
	</div>
</body>
</html>
