<!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
	<link type="text/css" rel="stylesheet/less" href="../css/navbar.less"/>
	<script>
		less = {
			env: "development",
			async: false,
			fileAsync: false,
			poll: 1000,
			functions: {},
			dumpLineNumbers: "comments",
			relativeUrls: false,
			rootpath: ":/a.com"
		};
	</script>
	<script src="../scripts/less.js-2.3.1/dist/less.min.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
	<script>
		function displayLogin(){
			document.getElementById("loginWindow").style.display = "block";
			document.getElementById("shadow").style.visibility = "visible";
			document.getElementById("content").className = "blur";
			document.getElementById("navBar").className = "blur";
		}

		function hideLogin() {
			document.getElementById("loginWindow").style.display = "none";
			document.getElementById("shadow").style.visibility = "hidden";
			document.getElementById("content").className = "";
			document.getElementById("navBar").className = "";	
		}
	</script>
</head>
<body>
	<div id="navBar">
		<div class="wrapper">
			<div id="logo" class="navLink">NDFS 100</div>
			<div id="loginContainer">
				<a id="login" onclick="displayLogin();">Login</a>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div id="content">
			<div id="spashImage"></div>
			<div id="splashText">
				<p>Welcome to NDFS 100. We're excited to have you in the class! This website will be a great resource to you as you go through the semester.  You will find readings, worksheets, diagrams, and tables that will be very useful to this class. To enhance your learning and studying experience, this website also provides study tools like flashcards and games to help you learn the nutrient table.  So login and get started! 
				</p>
			</div>
		</div>
		<div id="loginWindow">
			<h2>Login</h2>
			<form action="home.html">
				<label>Username</label>
				<input type="text" />
				<label>Password</label>
				<input type="password" />
				<a>Sign Up</a>
				<input type="submit" value="Login"/>
			</form>
		</div>
	</div>
	<div id="shadow"></div>
</body>
</html>