
<!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
	<script>
		function displayLogin(){
			document.getElementById("loginWindow").style.display = "block";
			document.getElementById("shadow").style.visibility = "visible";
		}
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="navBar">
			<div class="navLink">NDFS 100</div>
			<div id="loginContainer">
				<a id="login" onclick="displayLogin();">Login</a>
			</div>
		</div>
		<div id="content">
			<div id="spashImage"></div>
			<div id="splashText">
				<p>Lorem ipsum dolor sit amet, inani novum his ex, sed rebum admodum te. Tota commune menandri mei te, an elitr regione qui. Graecis reformidans vix id, sit ei zril numquam. Sale accumsan ut eum, id civibus minimum qui. Suas putent vivendum ad ius. Rebum commune tacimates eum ex, eu est vivendo consequat.</p>

				<p>Vel tantas exerci at. Vix unum detracto at. Ad eam porro abhorreant, eam ut graeco argumentum, te recusabo inimicus torquatos sed. In libris theophrastus sed, brute labitur facilisis an duo.</p>

				<p>Sed porro malorum phaedrum at, appareat intellegat deterruisset nam ut. Mea id causae utamur omittantur, vim in ornatus euripidis. Nec augue solet an, et nec ipsum voluptatum. Autem scaevola mel at. Populo vidisse ius id, melius nostrud lobortis est te.</p>
			</div>
		</div>
		<div id="loginWindow">
			<h2>Login</h2>
			<form action="home.html">
				<label>Username</label>
				<input type="text" />
				<label>Password</label>
				<input type="password" />
				<a>Sign Up</a>
				<input type="submit" value="Login"/>
			</form>
		</div>
	</div>
	<div id="shadow"></div>
</body>
</html>