

<!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="navBar">
		<div class="wrapper">
			<ul>
				<li id="logo" class="navLink"><a href="home.html">NDFS 100</a></li>
				<li class="navLink"><a href="articles.html">Articles &amp; Worksheets</a class="navLink"></li>
				<li class="navLink"><a href="nutrientTable.html">Nutrient Table</a></li>
				<li class="navLink">Study Tools
					<ul>
						<li><a href="flashcards.html">Flashcards</a></li>
						<li><a href="matching_feedback.html">Matching Game</a></li>
						<li><a href="multipleChoice.html">Multiple Choice</a></li>
					</ul>
				</li>
			</ul>
			<div id="loginContainer">
				<a id="login" href="index.html">Logout</a>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div id="content">
			<div id="matching">
				<div>
					<h2>Matching</h2>
					<a href="matching.html">New Game</a>
				</div>
				<div class="column">
					<div class="half_column">
						<strong>Vitamin C</strong>
					</div>
					<div class="half_column">
						<strong>Thiamin</strong>
					</div>
				</div>
				<div class="column">
					<div class="fact">Fact</div>
					<div class="fact">Fact</div>
					<div class="fact">Fact</div>
					<div class="fact">Fact</div>
					<div class="fact">Fact</div>
				</div>
				<div class="column">
					<div class="half_column">
						<strong>Calcium</strong>
					</div>
					<div class="half_column">
						<strong>Zinc</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
