<!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
	<link type="text/css" rel="stylesheet/less" href="../css/page.less"/>
	<script src="../scripts/less.js-2.3.1/dist/less.min.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="navBar">
		<div class="wrapper">
			<ul>
				<li id="logo" class="navLink"><a href="home.html">NDFS 100</a></li>
				<li class="navLink"><a href="articles.html">Articles &amp; Worksheets</a class="navLink"></li>
				<li class="navLink"><a href="nutrientTable.html">Nutrient Table</a></li>
				<li class="navLink">Study Tools
					<ul>
						<li><a href="study_guide.html">Study Guide</a></li>
						<li><a href="flashcards.html">Flashcards</a></li>
						<li><a href="matching_feedback.html">Matching Game</a></li>
						<li><a href="multipleChoice.html">Multiple Choice</a></li>
					</ul>
				</li>
			</ul>
			<div id="loginContainer">
				<a id="login" href="index.html">Logout</a>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div id="content">
			<h2>Multiple Choice</h2>
			<div id="multipleChoiceBlock">
				<div id="buttons">
					<a href="multipleChoice.html">New Test</a>
					<a href="multipleChoice_feedback.html">Submit</a>
				</div>
				<ol>
					<li>
						Question<br>
						<input type="radio" />Option 1<br>
						<input type="radio" />Option 2<br>
						<input type="radio" />Option 3<br>
						<input type="radio" />Option 4<br>
					</li>
					<li>
						Question<br>
						<input type="radio" />Option 1<br>
						<input type="radio" />Option 2<br>
						<input type="radio" />Option 3<br>
						<input type="radio" />Option 4<br>
					</li>
					<li>
						Question<br>
						<input type="radio" />Option 1<br>
						<input type="radio" />Option 2<br>
						<input type="radio" />Option 3<br>
						<input type="radio" />Option 4<br>
					</li>
				</ol>
			</div>
		</div>
	</div>
</body>
</html>
