<!DOCTYPE html>
<html>
<head>
	<title>NDFS 100</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="navBar">
		<div class="wrapper">
			<ul>
				<li id="logo" class="navLink"><a href="home.html">NDFS 100</a></li>
				<li class="navLink"><a href="articles.html">Articles &amp; Worksheets</a class="navLink"></li>
				<li class="navLink"><a href="nutrientTable.html">Nutrient Table</a></li>
				<li class="navLink">Study Tools
					<ul>
						<li><a href="flashcards.html">Flashcards</a></li>
						<li><a href="matching_feedback.html">Matching Game</a></li>
						<li><a href="multipleChoice.html">Multiple Choice</a></li>
					</ul>
				</li>
			</ul>
			<div id="loginContainer">
				<a id="login" href="index.html">Logout</a>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div id="content">
			<div id="tableBlock">
				<table border="1">
					<thead>
						<tr>
							<th></th>
							<th>Function</th>
							<th>Deficiency Syptoms</th>
							<th>Toxicity Symptoms</th>
							<th>Food Sources</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Vitamin C</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Thiamin</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Calcium</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Zinc</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="filterBlock"><strong>Filters</strong>
				<div>
					<strong>Nutrients</strong><br>
					<input type="checkbox" checked/>Vitamin C<br>
					<input type="checkbox" checked/>Thiamin<br>
					<input type="checkbox" checked/>Calcium<br>
					<input type="checkbox" checked/>Zinc<br><br>
					<strong>Category</strong><br>
					<input type="checkbox" checked/>Function<br>
					<input type="checkbox" checked/>Deficiency Symptoms<br>
					<input type="checkbox" checked/>Toxicity Symptoms<br>
					<input type="checkbox" checked/>Food Sources<br>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
